@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/assets/img/Capa.png);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 420px;
  background-color: transparent;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-size: 2rem;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  font-size: 1rem;
  color: white;
  padding: 20px 45px 20px 40px;
}

.input-box input::placeholder {
  color: #c5c5c5;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.remember-forgot {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
  white-space: nowrap;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 2px;
}

.remember-forgot a {
  text-decoration: none;
  color: white;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
}

.login:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.5s;
}

.register-link {
  font-size: 0.9rem;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .container h1 {
    font-size: 1.8rem;
  }

  .input-box input {
    font-size: 0.9rem;
    padding: 15px 40px;
  }

  .input-box i {
    font-size: 1rem;
  }

  .login {
    font-size: 0.9rem;
  }

  .remember-forgot {
    font-size: 0.8rem;
  }

  .register-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 15px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .input-box input {
    font-size: 0.8rem;
  }

  .login {
    font-size: 0.8rem;
  }
}
